# Ignore all Python virtual environment folders
**/.venv/
.venv/
.conda/

# Ignore models folder, its subfolders, and all files inside
models/
models/**

# Ignore specific config_api file in livetrade folder
livetrade/config_api

# Ignore all __pycache__ folders recursively
**/__pycache__/
__pycache__/